// Normal
@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins/poppins-regular-webfont.woff') format('woff'),
            url('./fonts/Poppins/poppins-regular-webfont.woff2') format('woff2'),
            url('./fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}
// Bold
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('./fonts/Poppins/poppins-semibold-webfont.woff') format('woff'),
            url('./fonts/Poppins/poppins-semibold-webfont.woff2') format('woff2'),
            url('./fonts/Poppins/Poppins-SemiBold.ttf') format('ttf');
}

// Variables
$textColor: #606F81;
$hColor: #384758;

// Mixins
@mixin font($ff: 'Poppins', $fl: normal, $fs: 1rem, $fw: 400, $lh: 1.25rem, $c: $textColor) {
    font-family: $ff, sans-serif;
	font-style: $fl;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}

@mixin block($width: 100px, $height: auto, $ml: 0, $mt: 0) {
    width: $width;
    height: $height;
    margin-left: $ml;
    margin-top: $mt;
}

html {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: $textColor;
    background: #E5E5E5;
}

.container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    max-width: 1440px;
    height: 1364px;
    background: #ffffff;
    background: url('./assets/background.png') no-repeat center center;
    margin-top: 1rem;
    padding-top: 3rem;
    overflow: hidden;
}

h1 {
    @include font($ff: 'Poppins-SemiBold', $fs: 48px, $fw: 600, $lh: 20px, $c: $hColor);
    margin-top: 0;
    margin-bottom: 0;
}
.header {
    @include block( 486px, 20px, 469px );
}

.subheader {
    @include block( 432px, 60px, 485px, 47px );
    padding-top: 3px;
    @include font($lh: 27px);
    text-align: center;
}

.control {
    @include block(115px, 48px, 645px, 31px);
    display: flex;
    .arrow_left {
        @include block(48px, 48px);
        background: url('./assets/arrow-left.png') no-repeat center center;
        cursor: pointer;
    }
    .arrow_right {
        @include block(48px, 48px);
        background: url('./assets/arrow-right.png') no-repeat center center;
        margin-left: 19px;
        cursor: pointer;
    }
    
}

.inner {
    @include block(1296px, 400px, 61px, 20px);
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out 0.2s;
}

.step_slider {
    @include block(290px, 400px);
    margin-right: 34px;
    .step_avatar {
        @include block(290px, 320px);
        cursor: pointer;
        img {
            width: 290px;
            height: 315px;
        }
    }
    .step_name {
        @include block(290px, 36px, 0, 17px);
        @include font($fs: 24px, $fw: 500, $lh: 36px, $c: $hColor);
    }
    .step_company {
        @include block(290px, 27px);
        @include font($lh: 27px);
    }
}

.step_avatar.active {
    border-bottom: 5px solid #FE8700;
    transform: rotate(0.2deg);
}

.step_name.active, .step_company.active {
    color: #FE8700;
}

.posts {
    @include block(960px, 522px, 385px, 50px);
    .posts_header {
        @include block(960px, 78px);
        margin-bottom: 27px;
        @include font($ff: 'Poppins-SemiBold', $fs: 48px, $fw: 600, $lh: 48px, $c: $hColor);
    }
    .posts_inner {
        @include block(960px, 417px);
    }
    
}
.post {
    @include block(960px, 119px);
    margin-bottom: 20px;
    .post_header {
        @include block(960px, 28px);
        margin-bottom: 7px;
        @include font($fs: 24px, $fw: 500, $lh: 28px, $c: $hColor);
    }
    .post_text {
        @include block(960px, 84px);
        @include font($fs: 20px, $lh: 28px);
    }
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: $textColor;
    background: -moz-linear-gradient(left, $textColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, $textColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, $textColor 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, $textColor 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, $textColor 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: $textColor;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}